<div class="star-war-list__main">
    <table mat-table [dataSource]="starWarriors" class="mat-elevation-z8" cdkDropList #starWarriorsTable
        [cdkDropListData]="starWarriors.data" (cdkDropListDropped)="drop($event)" id="starWarriorsTable">
        <ng-container *ngIf="canFavorite" matColumnDef="favorite">
            <mat-header-cell *matHeaderCellDef>
                Favorite
                <a class="favorites-count" [routerLink]="['/favorites']">{{ favoritesCount }}</a>
            </mat-header-cell>
            <mat-cell *matCellDef="let warrior; let i = index">
                <span *ngIf="warrior.favorite" class="material-icons icon" (click)="toggleFavorite(i, false)">
                    favorite
                </span>
                <span *ngIf="!warrior.favorite" class="material-icons icon" (click)="toggleFavorite(i, true)">
                    favorite_border
                </span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
            <mat-cell *matCellDef="let warrior; let i = index"> {{ i + 1 }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let warrior"> {{warrior.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="birth_year">
            <mat-header-cell *matHeaderCellDef> Birth Year </mat-header-cell>
            <mat-cell *matCellDef="let warrior"> {{warrior.birth_year}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="home_world">
            <mat-header-cell *matHeaderCellDef> Home World </mat-header-cell>
            <mat-cell *matCellDef="let warrior"> {{warrior.homeworldName}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay" cdkDrag [cdkDragData]="row"></mat-row>
    </table>
    <mat-paginator #paginator [pageIndex]="currentPage" [pageSize]="starWarriors.data.length" [length]="totalCount"
        (page)="getNext($event)" showFirstLastButtons></mat-paginator>
</div>