<div class="main">
    <mat-progress-bar *ngIf="!showTable" mode="indeterminate"></mat-progress-bar>
    <form class="star-war-search-form">
        <!-- <mat-form-field class="star-war-search-width">
            <mat-label>Search a star warrior....</mat-label>
            <input matInput [formControl]="nameSearchFormControl" (keyup)="search()" placeholder="Captain America">
        </mat-form-field>
        <button mat-raised-button style="margin-left: 10px;" color="primary">Search</button> -->
    </form>
    <div *ngIf="showTable">
        <app-star-wars-list [starWarriors]="starWarriors" [currentPage]="currentPage" [totalCount]="totalCount"
            [favoritesCount]="favoritesCount" [canFavorite]="true" [columnsToDisplay]="columnsToDisplay">
        </app-star-wars-list>
    </div>
</div>